
@if $incluir-links == true {




/*------------------------------------------------------------------------------------------------------------*\
    $LINKS
\*------------------------------------------------------------------------------------------------------------*/
a {
	color           : $linkcolor;
	text-decoration : none;
	&:visited {
		color : $linkcolor-visited;
	}
	&:hover,
	&:focus {
		color           : $linkcolor-hover;
		text-decoration : underline;
	}
	&:focus {
		outline : 0;
	}
	&:hover,
	&:active {
		outline : 0;
	}
}





}	// endif
