<button class="hamburger  hamburger--emphatic  js-btnMenu" type="button">
	<span class="hamburger-box">
		<span class="hamburger-inner"></span>
	</span>
</button>

<nav class="menu">
	{{ svg('smile', 'sonrisa') | raw }}
</nav>
