<div class="lang">
	<a class="flag  flag--es  js-lang  {{ constant('LANG') == 'es' ? 'current' }}" data-lang="es" href="{{ url(current_section, 'es') }}">ES</a>
	<a class="flag  flag--en  js-lang  {{ constant('LANG') == 'en' ? 'current' }}" data-lang="en" href="{{ url(current_section, 'en') }}">EN</a>
</div>
